@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;500&display=swap');
body{background-color: #ffffff;padding: 1px; font-family:'Open Sans','Raleway', sans-serif; position: relative;}

/*login*/
html {
  box-sizing: border-box;
}

/* Botão Subir Topo */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0067E8;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: #04ab07;
}
/* Botão Subir Topo */


/*home*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  
  /* Nav */
  .navContainer {
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;/* fixei a barra de navegaçao */
    background-color: #ffffff;
    z-index: 1;
    
  }

  .agroConnectLogo{
    font-size: 20px;
  }
 
  .main-nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    z-index: 1;
    background-color: #f4fff3;
  }

  .main-menu{
    margin-top: 20px;
    text-decoration: none;
    color:#000;
  }
  
  .main-nav .logo {
    width: 50px;
  }
  
  .main-nav ul {
    display: flex;
  }
  
  .main-nav ul li {
    padding: 0 10px;
  }
  
  .main-nav ul li a {
    padding-bottom: 2px;
  }
  
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
  
  .main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
  }
  

  p{
    margin-top: 1px;/*tava 14px, mudei pq o noot de casa bugou com 14px e ficou centralizado com 1px*/
  margin-left: 55px;
  color: rgb(0, 0, 0);
    }
    a{
      margin-top: 1px;/*tava 14px, mudei pq o noot de casa bugou com 14px e ficou centralizado com 1px*/
    margin-left: 55px;
    color: rgb(0, 0, 0);
      }

.bg-img{
     /* Control the height of the image */
   position: fixed;
   top: 0;
   left: 0;
   /* Center and scale the image nicely */
}

#fundoCadastro {
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
  }

/* Adiciona formatação ao container do formulário */
.containerCadastro {
  position: absolute;
  right: 25%;
  left: 25%;
  padding: 30px;
  background-color: #ffffff;
  opacity: 90%;
  margin: 44px auto auto auto;
  border-radius: 4px;
}


.headingCadastro{
  padding-left: 20px;
}

#heading {
  font-weight: 400;
  color: 000;
  font-size: 45px;
  display: inline-block;
  color: #04ab07;
}

.empresa{
  margin-left: 20px;
  width: 40px;
}

.linha1{
margin: 0;
}

.linha2{
  margin-top: 20px;
  }

#headingEmpresas{
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 20px;
}

.form-label{
  padding-top: 4%;
  font-size: 25px; 
}

.form-control{
  border-width: 3px;
  border-color: #D6D6D6;
  padding: 8px 1px 1px 1px;
}

.sectionControl{
  margin-right: 25%;
  margin-left: 25%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#botaoCadastrar{
  background-color: #0067E8; 
  border-style: none;
  filter: drop-shadow(0.2rem 0.2rem 0.3rem #0000149c);  
  font-size: 20px;
}

.botaoCadastrar{
  margin-top: 30px;
}

.possuiConta{
  text-align: center;
  font-size: 22px;
  color: #777777;
}

#botaoPossuiConta{
  text-decoration: none;
  color: #0067E8;
  font-size: 18px;
  padding: 0;
}
.botaoPossuiConta{
  text-align: center;
}